<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=0.8, maximum-scale=1" />
  <title>Estante Virtual</title>
  <link rel="stylesheet" href="/bootstrap.css" />
  <link rel="stylesheet" href="/confetti_cuisine.css" />
</head>

<body>
  <div id="header">
    <h1 id="title">Estante Virtual</h1>
  </div>

  <div id="nav">
    <a href="/"> <span class="button">HOME</span> </a>
    <a href="/courses.html"> <span class="button">LOGIN</span> </a>
    <a href="/contact.html"> <span class="button">CONTATO</span> </a>
  </div>

  <div class="container">
    <div class="col-sm-6"><img src="/livro.jpg" alt="" />
    </div>
    <div class="col-sm-6">
      <h1>Receba informações!</h1>
      <p>Insira um email para receber os novos livros disponiveis</p>
      <form class="contact-form" action="/" method="post">
        <input type="email" name="email" required />
        <input class="button" type="submit" value="Enviar" />
      </form>
      <p>Fique atento as novidades!</p>
    </div>
  </div>
</body>

</html>