<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=0.8, maximum-scale=1" />
  <title>Estante Virtual</title>
  <link rel="stylesheet" href="/bootstrap.css" />
  <link rel="stylesheet" href="/confetti_cuisine.css" />
</head>

<body>
  <div id="header">
    <h1 id="title">Estante Virtual</h1>
  </div>

  <div id="nav">
    <a href="/"> <span class="button">HOME</span> </a>
    <a href="/login.html"> <span class="button">LOGIN</span> </a>
    <a href="/contato.html"> <span class="button">CONTATO</span> </a>
  </div>

  <main>

    <div class="img-container">
      <img src="/novo_estante.jpg" alt="" />
    </div>

    <div class="descricao">
      <h1>Seja Bem-vindo a Estante Virtual!</h1>
      <p>A Estante Virtual é o espaço perfeito para os amantes da leitura. Aqui, você pode organizar sua biblioteca
        pessoal, registrar os livros que já leu, marcar os que mais gostou e até listar aqueles que sonha em ler um dia.
      </p>

      <p>Nosso objetivo é tornar a sua experiência com a leitura ainda mais prazerosa e prática, permitindo que você
        acompanhe seu progresso, descubra novas obras e mantenha tudo sempre à mão.</p>
      <p>
        Para começar a montar sua estante personalizada, basta acessar a <a href="/login.html">página de Login</a> e
        entrar na sua conta.
      </p>
      <p>Ainda não tem uma conta? Não se preocupe — o processo de cadastro é rápido e fácil. </p>
      <p>
        Se tiver alguma dúvida em relação aos processo,
        <a href="/contato.html">Entre em Contato Conosco!</a>
      </p>
    </div>

  </main>
</body>

</html>