<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=0.8, maximum-scale=1" />
  <title>Estante Virtual</title>
  <link rel="stylesheet" href="/bootstrap.css" />
  <link rel="stylesheet" href="/estante_virtual.css" />
</head>

<body>
  <div id="header">
    <h1 id="title">Estante Virtual</h1>
  </div>

  <div id="nav">
    <a href="/"> <span class="button">HOME</span> </a>
    <a href="login.html"> <span class="button">LOGIN</span> </a>
    <a href="/contato.html"> <span class="button">CONTATO</span> </a>
  </div>

  <div class="container centralizar">
    <div class="">
      <h1 id="title">Acesse sua estante!</h1>
      <h2>Login</h2>
      <form class="contact-form" action="/" method="post">
        <div class="margin-bottom">
          <label for="email" class="form-label">Email</label>
          <input type="email" class="form-control" name="email" required placeholder="Digite seu email" />
        </div>
        <div class="margin-bottom">
          <label for="senha" class="form-label">Senha</label>
          <input type="password" class="form-control" name="senha" required placeholder="Digite sua senha" />
        </div>
        <div class="margin-bottom">
          <button type="submit" class="button">Entrar</button>
        </div>
      </form>
      <a href="/contato.html">Caso ocorra algum problema, entre em contato!</a>
    </div>
</body>

</html>