<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=0.8, maximum-scale=1" />
  <title>Estante Virtual</title>
  <link rel="stylesheet" href="/bootstrap.css" />
  <link rel="stylesheet" href="/estante_virtual.css" />
</head>

<body>
  <div id="header">
    <h1 id="title">Estante Virtual</h1>
  </div>

  <div id="nav">
    <a href="/"> <span class="button">HOME</span> </a>
    <a href="/login.html"> <span class="button">LOGIN</span> </a>
    <a href="/contato.html"> <span class="button">CONTATO</span> </a>
  </div>

  <div class="container">
    <div class="centralizar">
      <div>
        <h1>Obrigado pelo apoio!</h1>
        <p>Clique para ir para a <a href="/">home!</a></p>
      </div>
    </div>
  </div>
</body>

</html>