@import url("https://fonts.googleapis.com/css?family=Baloo+Bhaina");
@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@400;500;600;700;800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #FDEDE2;
  color: #4A3223;
  margin: 0;
  font-family: "Abhaya Libre", serif;
  font-weight: 800;
  font-style: normal;
  width: 100%;
  height: 100%;
  
}

#header {
  background-color: #E5D5A6;
  width: 100%;
  height: 90px;
  margin-top: 0px;
  padding: 20px 0 5px 0;
  position: relative;
  top: 0;
}

#nav {
  background-color: #4A3223;
  width: 100%;
  height: 35px;
  position: relative;
  top: 0;
  display: flex;
  align-items: center;
  padding-left: 35%;

  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* sombra suave */
  z-index: 1; /* garante que fique acima de outros elementos */

}

#title {
  text-align: left;
  font-size: 40pt;
  color: #4A3223;
  margin: 0;
  margin-left: 25px;
  font-family: "Abhaya Libre", serif;
  font-weight: 800;
  font-style: normal;
  
}

img {
  width: 100%;
}

#estante img {
  object-fit: cover;

}

a {
  color: #333;
  text-decoration: none;
}

#header a {
  text-decoration: none;
}

main {
  display: flex;
  padding: 0;
  position: relative;
  flex: 1;
}

.img-container {
  margin-left: 0;
  margin-top: 0%;
  margin-right: 0%;
  height: 1400px;
  width: 920px;
  background-color: #D9D9D9;
  position: relative;
  overflow: hidden; 
}

.img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.descricao {
  position: relative;
  height: 1400px;
  width: 920px;
}

.descricao h1 {
  font-size: 55pt;
  margin-left: 45px;
  margin-top: 50px;
}

.descricao p {
  font-size: 20pt;
  margin-left: 45px;

}

.button {
  font-size: 15pt;
  background-color: #4A3223;
  padding: 0vw 3vw;
  border-radius: 2px;
  cursor: pointer;
  display: inline-block;
  color: #E5D5A6;
}

.button:hover {
  background-color: #574941;
  color: #E5D5A6;
}
