@import url("https://fonts.googleapis.com/css?family=Baloo+Bhaina");
@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@400;500;600;700;800&display=swap');

body {
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #625a56;
}

#header {
  background-color: #E5D5A6;
  width: 100%;
  height: 110px;
  margin-top: 0px;
  padding: 20px 0 5px 0;
  position: relative;
  top: 0;
}

#nav {
  background-color: #4A3223;
  width: 100%;
  height: 41px;
  padding: 20px 0 5px 0;
  position: relative;
  top: 0;
}

#title {
  color: #4A3223;
  margin: 0;
  font-family: "Abhaya Libre", serif;
  font-weight: 800;
  font-style: normal;
  text-transform: uppercase;
}

img {
  width: 100%;
}

a {
  color: #333;
  text-decoration: none;
}

#header a {
  text-decoration: none;
}

.nav-align {
  text-align: left;
  padding: 3px 0;
}

.container {
  padding: 0% 10%;
}

.button {
  background-color: #ed4a0f;
  padding: 0.3vw 3vw;
  border-radius: 2px;
  cursor: pointer;
  display: inline-block;
  color: #fff;
}

.button:hover {
  background-color: #ffb99f;
  color: #ed4a0f;
}
